.App {
  text-align: center;
}

body {
  background-image: url('./images/background.jpg');
}

.header {
  color: white;
  font-size: 30px;
  padding-top: 30px;
  text-align: center;
}

.Title {
  color: white;
  font-size: 25px;
  margin-bottom: 80px;
  text-align: center;
}

.listaPlanetas {
  color: white;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
}

img {
  box-shadow: inset 4px -3px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
  height: 109px;
  width: 144px;
}

.mis {
  background-color: rgba(46, 46, 46);
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.9);
  color: white;
  height: 1776px;
  left: 200px;
  position: absolute;
  top: 600px;
  width: 1098px;
}

.missoes {
  color: white;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  padding: 20px;
}

.conteiner {
  border: 2px solid white;
  border-radius: 5px;
  padding: 2px;
}

.nome {
  border-bottom: 1px solid white;
  color: rgb(143, 173, 213);
  font-size: 25px;
}

.ano {
  display: inline-block;
  margin-left: 20px;
  width: 25%;
}

.pais {
  display: inline-block;
  width: 35%;
}

.destino {
  display: inline-block;
  width: 30%;
}
